{% extends "base.html" %}

{% block head %}
    <title>About Corey</title>
{% endblock %}

{% block body %}
    <div class="container">
        <h1>About</h1>
        <p>Corey is my name but health and technology is my game</p>

        <div class="container features">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <h3 class="feature-title">Health</h3>
                    <img src="static/img/apple.jpg" class="img-fluid">
                    <p>Apples</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <h3 class="feature-title">Nutrition</h3>
                    <img src="static/img/fig.jpg" class="img-fluid">
                    <p>Figs</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                </div>
            </div>
        </div>

    </div>
{% endblock %}
