{% extends 'base.html' %}

{% block head %}
    <title>Contact</title>
{% endblock %}
{% block body %}
    <body>
    <div class="container">
        <div class="row">
            <div class="column">
                <h1>Contact Me</h1>
                <p>I am interested in freelance opportunities. However, if you have other request or question, don’t
                    hesitate to
                    contact me using the form below.</p>
                <form id="contact" autocomplete="off" action="/contact" method="POST">
                    <div class="form-group">
                        <input class="form-control mr-sm-2" type="text" name="name" placeholder="Name">
                        <br>
                        <input class="form-control mr-sm-2" type="email" name="email" placeholder="Email">
                        <br>
                        <input class="form-control mr-sm-2" type="text" name="subject" placeholder="Subject">
                        <br>
                        <textarea class="form-control" name="message" id="message" rows="3"
                                  placeholder="Message"></textarea>
                        <br>
                        <input type="submit" value="Send">
                    </div>
                </form>
            </div>
        </div>
    </div>
    </body>
{% endblock %}