{% extends 'base.html' %}

{% block head %}
    <title>CH | Web Developer</title>
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Hi, I'm Corey</h1>
        <div class="jumbotron bg-secondary">
            <h1 class="display-4">Web Developer</h1>
            <p class="lead">Corey is my name but health & technology are my game</p>
            <hr class="my-4">
            <p>Would love to connect, click below.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="/contact" role="button">Contact</a>
            </p>
        </div>
    </div>
{% endblock %}