{% extends 'base.html' %}

{% block head %}
    <title>Corey's Home Page</title>
{% endblock %}

{% block body %}
    <h1>Health & Technology Projects</h1>
    <div class="jumbotron">
        <h1 class="display-4">Corey's Blog</h1>
        <p class="lead">Welcome to a place where we talk all things related to health & happiness.</p>
        <hr class="my-4">
        <p>There is no limit to the human potential.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/posts" role="button">Blog Posts</a>
        </p>
    </div>
{% endblock %}