{% extends 'base.html' %}

{% block head %}
    <title>Skills & Experience</title>
{% endblock %}
{% block body %}
<div class="container">
    <body>
        <h1>Skills & Experience</h1>
        <p>The main area of my expertise is front end development (client side of the web).</p>
        <p>HTML, CSS, JS (TypeScript), building small and medium web apps with Angular 2+, custom plugins, features, animations, and coding interactive layouts.</p>
        <p>I have also full-stack developer experience with open source CMS like (WordPress, Drupal, Magento, Keystone.js and other)</p>
        <p>Visit my <a href="https://www.linkedin.com/in/hibencorey/" target="_blank">LinkedIn</a> profile for more details or just <a href="/contact">contact</a> me</p>
    </body>
</div>
{% endblock %}